body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    background-color: black;
}


h3{
    text-align: center;
}



input, select{
    
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 4px;


    padding: 5px;
    font-size: 15px;
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.back-btn{
    margin-top: 1%;
}

/* Estilos para tabletas y dispositivos más grandes (768px y superiores) */
@media screen and (max-width: 480px) {
    body {
        font-size: 15px;
    }

    .btn{
        font-size: 11px;
    }    

    .back-btn{
        margin-top: 17px;
    }

}